.btn-icon {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    box-shadow: none;
}

.fragmentId {
	color: rgb(8, 99, 151)
}
.bracket, .operation {
	padding: 2px;
}

.argRef, .arg, .dfValue, .forVar, .whileVar, .castTo {
	border-radius: 10%;
	padding: 5px;
}
.idParts .arg {
	font-size: small;
	padding: 3px;
}
.constArgumentRef, .constArg, .castTo {
	color: gray;
	border: 1px solid gray;
	box-sizing: border-box;
}
.dfArgumentRef, .exprArgumentRef, .dfValue, .castArgumentRef {
	color: rgb(255, 255, 255);
	background: rgb(102, 209, 228);
	font-weight: bold;
}

.dfArgumentRef, .exprArgumentRef, .castArgumentRef {
	cursor: help
}

.dfArgument {
	width: 200px;
}
.argumentPropertyName {
	display: inline-block;
	width: 50px;
}
.dfArgumentValue {
	color: cadetblue
}
.dfArgumentNoValue {
	color: rgb(192, 192, 192)
}
.dfArgumentRef:hover, .exprArgumentRef:hover, .castArgumentRef:hover {
	background: rgb(122, 229, 248);
	border-radius: 10%;
}

.cfCard, .dfCard {
	padding: 15px;
	margin-bottom: 5px;
	display: inline-block;
}

.cf {
	display: inline-block;
}
.cf, .subroutine, .atom, .df, .for, .while {
	font-size: medium;
}
.cfTitle, .subroutineTitle, .execTitle, .atomTitle, .forTitle, .whileTitle {
	color: darkred
} 
.arrow, .comma, .parenthesis {
	margin: 3px
}
.colon {
	margin-right: 3px
}
.cfParameterName, .subroutineParameterName {
	color: coral
}
.cfParameterType, .subroutineParameterType, .atomParameterType {
	color: blue;
	font-size: smaller
}
.cfArguments .as {
	margin: 5px
}

.bodyStatements {
	padding-left: 20px;
}
.bodyStatement {
	padding-bottom: 12px;
	line-height: 30px;
}

.declarationStatement {
	padding-bottom: 15px;
}

.dfArg, .forVar, .whileVar {
	color: coral;
	border: 1px solid coral;
	box-sizing: border-box
}

.peerReady {
	background-color: yellowgreen
}

.periodTitle {
	font-weight: bold;
	padding-left: 10px;
}
.periodTime {
	padding: 0px 5px;
}